{% load i18n %}
{% if is_paginated %}
    <div class="pagination col-sm-12 text-center">
        <ul class='list-unstyled list-inline'>
        {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "anterior" %}</a>
            </li>
        {% else %}
            <li>
                <span class="disabled">&lsaquo;&lsaquo; {% trans "anterior" %}</span>
            </li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% ifequal page page_obj.number %}
                <li class="disabled active">
                    <span class="disabled">{{ page }}</span>
                </li>
            {% else %}
                <li>
                    <a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a>
                </li>
            {% endifequal %}
        {% empty %}
            <li>
                <a class="btn disabled">...</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "próxima" %} &rsaquo;&rsaquo;</a>
            </li>
        {% else %}
            <li>
                <span class="disabled">{% trans "próxima" %} &rsaquo;&rsaquo;</span>
            </li>
        {% endif %}
        </ul>
    </div>
{% endif %}
