<button class="btn btn-info" type="submit">
    <i class="icon-ok"></i>{{ ok|default='Salvar' }}
</button>
{% if flag_cancelar %}
<a onclick='limpar(this);' class="btn btn-danger" id="botao-limpar-formulario">
    <i class="icon-remove"></i>{{ cancelar|default='Cancelar' }}
</a>
{% block endscripts %}
<script type="text/javascript">
    var limpar = function(object){

        var elements = object.parentElement.elements;

        for(i=0; i<elements.length; i++) {

            field_type = elements[i].type.toLowerCase();

            switch(field_type) {

            case "text":
            case "password":
            case "textarea":

                elements[i].value = "";
                break;

            case "radio":
            case "checkbox":
                if (elements[i].checked)
                    elements[i].checked = false;
                break;

            case "select-one":
            case "select-multi":
                elements[i].selectedIndex = -1;
                break;

            default:
                break;
            }
        }
    };
</script>
{% endblock %}
{% endif %}